{% extends 'base.html' %}
{% load static %}
{% block content %}
<div align="left" class="col-md-6 col-md-offset-3" style="background-color:#B0C4DE">
	<h4 align="center"><b>You can query the data here</b></h4>
	<hr>
	<form action="{% url 'cal' %}" method="post">{% csrf_token %} 
		{{ form.errors }} 
	   	{{ form.as_p}}
<!-- 	   	{% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
	    {% endfor %} -->
	<hr>
	<input type="submit" value="Submit">
	</form>	
</div>
<div class="well col-md-6 col-md-offset-3">
	{{ result}}
</div>
<p></p>
<div align="center" class="col-md-6 col-md-offset-3">
	<h5>You can upload your data in csv format here <a href="{% url 'upload' %}">upload</a></h5>
</div>

<!-- Js part -->
<script type="text/javascript">
	$(function(){
		//get line
		$("#id_LineCode").empty().append('<option value="">Choose Line</option>');
		$("#id_MachineCode").empty().append('<option value="">Choose Machine</option>');
		$("#id_StartTime").empty().append('<option value="">Choose StartTime</option>');
		$("#id_EndTime").empty().append('<option value="">Choose EndTime</option>');
		$.get('/getLineCode/',function(data){
		for(var i=0,len=data.LineCodes.length;i<len ;i++){
		    $new = $("<option value="+data.LineCodes[i][1] +">"+data.LineCodes[i][1]  +"</option>" );
		    $("#id_LineCode").append( $new );
		}
		});
		//after change line
		$("#id_LineCode").change(function(){
			$("#id_MachineCode").empty().append('<option value="">Choose Machine</option>');
			$("#id_StartTime").empty().append('<option value="">Choose StartTime</option>');
			$("#id_EndTime").empty().append('<option value="">Choose EndTime</option>');
			$.ajax({
			    url:'/getMachineCode/',
			    type:'get',
			    data:{"LineCode":$(this).val()}
			}).done(function(data){
			    for(var i = 0,len = data.MachineCodes.length; i<len ;i++){
			        $new = $( "<option value="+data.MachineCodes[i][1] +">"+data.MachineCodes[i][1]  +"</option>" );
			        $("#id_MachineCode").append( $new );
			    }
			});
		});
		//after change machine
		$("#id_MachineCode").change(function(){
			$("#id_StartTime").empty().append('<option value="">Choose StartTime</option>');
			$("#id_EndTime").empty().append('<option value="">Choose EndTime</option>');
			$.ajax({
			    url:'/getDateTime/',
			    type:'get',
			    data:{"MachineCode":$(this).val()}
			}).done(function(data){
			    for(var i = 0,len = data.StartTimes.length; i<len ;i++){
			        $new = $( "<option value="+data.StartTimes[i][1] +">"+ data.StartTimes[i][1]+"</option>" );
			        $("#id_StartTime").append($new );
			    }
			    for(var i = 0,len = data.EndTimes.length; i<len ;i++){
			        $new = $( "<option value="+data.EndTimes[i][1] +">"+ data.EndTimes[i][1]+"</option>" );
			        $("#id_EndTime").append($new );
			    }
			});
		});

		})
</script>

{% endblock %}